<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Home</py:def>

  <div py:match="content">
    <form action="annotate" method="POST">
      <!--
      <label>Upload a file:</label>
      ${h.file(name='file', size=30)}
      -->

      <label>Enter some text (you can use <a
          href="http://daringfireball.net/projects/markdown/">markdown</a>):</label>
      ${h.textarea(name='text', cols=80, rows=10)}

      <br />
      <br />
      ${h.submit('Go &raquo;', 'Go')}
    </form>
	</div>

  <xi:include href="layout.html" />
</html>
