<!--
<script src="{{assets}}/vendor/annotator/jquery.pluginfactory.js"></script>
<script src="{{assets}}/vendor/annotator/jquery.sji.js"></script>
<script src="{{assets}}/vendor/annotator/jquery.json.js"></script>
<script src="{{assets}}/vendor/annotator/extensions.js"></script>
<script src="{{assets}}/vendor/annotator/annotator.js"></script>
<script src="{{assets}}/vendor/annotator/user.js"></script>
-->
<script src="https://github.com/nickstenning/annotator/raw/0.8/pkg/annotator.min.js"></script>
<script src="{{assets}}/vendor/annotator/storecouchdb.js"></script>

