          </div><!-- .entry-content -->
        </div>

      </div> <!-- #content -->
    </div> <!-- #container -->

    <div id="primary" class="widget-area" role="complementary">
      <ul class="xoxo">
        <li class="widget-container widget_text">
          <h3 class="widget-title">About Us</h3>
          <div class="textwidget">
            About text goes here.
          </div>
        </li>
      </ul>
    </div><!-- #primary .widget-area -->

  </div><!-- #main -->
  
    <!-- footer -->
  <div id="footer" role="contentinfo"> 
    <div id="colophon">
      <div id="footer-widget-area" role="complementary">

        <div id="first" class="widget-area">
          <ul class="xoxo">
          <li id="text-12" class="widget-container widget_text">
            <h3 class="widget-title">About</h3>
            <div class="textwidget">
              <ul>
              </ul>
            </div>
          </li>
          </ul>
        </div><!-- #first .widget-area -->

      <div id="site-info">
      </div><!-- #site-info -->

      <div id="site-generator">
      </div><!-- #site-generator -->
    </div><!-- #colophon -->
  </div><!-- #footer --> 
 
</div><!-- #wrapper -->
</body>

