<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>{{blogName}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="http://assets.okfn.org/gfx/logo/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{assets}}/vendor/annotator/annotator.css" type="text/css"/ >
  <link rel="stylesheet" href="https://github.com/nickstenning/annotator/raw/0.8/pkg/annotator.min.css" type="text/css" />
  <link rel="stylesheet" href="{{ assets }}/themes/commentonit/style.css" type="text/css">
</head>

<body>
<div id="wrapper">
  <div id="header">
  <div id="masthead">
    <div id="branding" role="banner">
      <h1 id="site-title">
        <a href="{{ indexPage }}" title="{{blogName}} Home">
            {{ blogName }}
        </a>
      </h1>
      <div id="site-description">Inline, in-browser annotation of documents online</div>
    </div> <!-- /branding -->

    <div id="login-and-search">
      <div class="search-form">
        <form action="" method="get">
          <input type="search" class="search" name="q" value="" autocomplete="off" results="5" placeholder="Search..."/>
        </form>
      </div>
    </div>
     
  <div id="access" role="navigation">
    <div class="menu">
    <ul>
      <li><a href="{{ indexPage }}">Home</a></li>
    </ul>
    </div> <!-- .menu -->
  </div> <!-- #access -->
  </div><!-- #masthead -->
  </div><!-- #header -->  

  <div id="main"> 
    <div id="container"> 
      <div id="content" role="main"> 

        <div class="page type-page hentry">
          <div class="entry-content">

